include includes/head
  //- See comments in the /javascripts/slidemenu.js
  //script(src='javascripts/slidemenu.js')

  body
    #main
      #head
      include /includes/banner 
      #content
        block content
      #footer
        include includes/foot