extends layouts/layout

block content

  #content-wrapper
    section#intro
      #intro_page.parallax
        .intro_page

          .title-1
            h3 When others lose power...
          .title-2
            h3 we've got your back
          .title-3
            h3 At Elecyr, we're your partner for electric independence.


    section#broken_grid
      .container
        .row
          // Banner Description
          .col-md-7.titlebar.broken_grid_content
            h2 The Daily Sun
            p Add your own solar panels or plug into a wall socket. The Daily Sun is a $5900 silent generator that you can install yourself or take on the road.  It can power your refrigerator, a microwave, coffee maker, some LED lights and a TV for the better part of a day.  A Daily Sun can also provide enough power for a small mini-split air conditioner that’s big enough for about 800 sq. ft. of living space.
            p With its expansion port, it can be a building block for a whole house system working with other Daily Suns and Elecyr SmartBatteries to power larger inverters for big loads like geothermal, clothes dryers, and well pumps.

          // Banner Image
          #broken_grid_image.col-md-5.text-center
            img.img-responsive(src='/images/thumbs/DailySun_md.png', alt='Elecyr Daiy Sun')

    section#microgrids
      .container
        .row
          .col-sm-12.titlebar
            h2 It’s not just solar, it’s independence.
            p Many companies will offer to install solar on your house at little of no expense to you. So long as the electric utilities in your area continue to subsidize solar, this may be a good choice to reduce your monthly electric bill. Just check the fine print and be aware of long term leases that may leave you with a lien on your house when you sell.
            p These companies don't tell you that their "free" solution doesn’t help you if the grid has an outage.  The panels shut down when the grid does. If you want to keep critical appliances running or have electrical independence and free power in the future, you’ll need a different kind of system.
            p We can help. At Elecyr, we’re your partner for electric independence.

    section#storage
      .container
        .row
          #storage_image.col-sm-12
            iframe(width='710px', height='340px', src='/animations/index-animation/Elecyr_wholehousehookup.html', style='border: 0px; margin-bottom: 35px;', scrolling='no')
          .col-md-6.titlebar.storage_content
            h2 Energy storage keeps you covered when the sun doesn’t shine.
            p Energy storage, once used just for a few minutes of battery backup, is now an important part of smoothing the flow of power for renewable power generation.  A few years ago there were only lead-acid batteries.  They’re ok for backup but don’t work well for daily deep discharge.  In the past decade all sorts of new batteries have come to the forefront.  The safest, most economical batteries for renewable energy storage are LFP batteries which are doubling in power density every decade.   However, like all batteries in a large energy storage application, LFPs need continuous balancing, and that’s an Elecyr specialty.

    #app_descriptions
      .app_descriptions
        .container
          .row
            .col-sm-12.titlebar
              h2 The Applications
              p We've been working with cutting-edge battery storage since 2008, and our battery management, control systems, and intelligent distribution is unrivaled in the industry. While there exist other energy storage systems on the market, none of them are designed with modular scalability at their core.
          .container
            .row
              .col-md-3.left.app-box-content
                img.img-responsive(src='/images/applications/offgrid1.jpg', alt='offgrid_image')
              .col-md-9.app-box-content
                h4 Bringing Off-grid Power to Remote Regions
                p Utilizing the same principles that govern the Internet, our Digital Microgrids, when used in conjunction with any combination of renewable, fossil or grid power sources, create a fault tolerant, local power grid with no reliance on the existing grid infrastructure. This modular, adaptable microgrid can efficiently power hospitals, schools, an entire village - the opportunities are nearly limitless.
            .row
              .col-md-3.left.app-box-content
                img.img-responsive(src='/images/applications/residential1.jpg', alt='residential_storage_image')
              .col-md-9.app-box-content
                h4 Zero Net Energy and Passive Home
                p The combination of an efficient envelope, advances in appliances and heating and DC LED lighting, make it possible for Zero Net Energy and Passive Homes to have total energy independence, often without any grid or fossil fuel generator backup. This can either be a no-compromise system to meet all possible peak loads, or a more aggressive load shedding and lifestyle management approach which is much less expensive but means that certain heavy loads can be run at the same time.
            .row
              .col-md-3.left.app-box-content
                img.img-responsive(src='/images/applications/military1.jpg', alt='military_image')
              .col-md-9.app-box-content
                h4 Forward Operating Base Camps - Military Microgrids
                p By decreasing or even eliminating dependence on inefficient generator systems powered by fossil fuels, Elecyr's Digital Microgrids and mobile solar solutions provide renewable, reliable energy anywhere, eliminating the difficulties of synchronization, hot-swap repair, fault tolerance, and natural expansion. Digital Microgrids make expansion as easy as plugging in a generator and starting it up. When security, safety and reliability are paramount, Digital Microgrids are the absolute best solution to deliver power to our men and women in uniform.
            .row
              .col-md-3.left.app-box-content
                img.img-responsive(src='/images/applications/manufactured-home-container-modular-construction-m.jpg', alt='container_home_image')
              .col-md-9.app-box-content
                h4 Container and Modular Construction
                p Elecyr grid independent power systems are sized right to meet the meet all the power needs of modern energy efficient construction. Often one or two Daily Sun plug-and-play systems, perhaps along with a shared higher power inverter, can be installed in a few hours and provide all the power for the residence. The Daily Sun brings the same modularity and mass produced savings to the powering the dwelling that containers and modular construction have brought to the envelope.
            .row
              .col-md-3.left.app-box-content
                img.img-responsive(src='/images/applications/emergency1.jpg', alt='storage_image')
              .col-md-9.app-box-content
                h4 Emergency Response Solar Generators
                p When disaster strikes, restoring power in an affected area is vital to the support of emergency services and recovery efforts. With the unpredictability of disasters, natural and otherwise, portable, reliable and scalable power solutions can make all the difference. Elecyr Digital Microgrids and solar generators provide an efficient "emergency grid" that can be dropped into any situation
            .row
              .col-md-3.left.app-box-content
                img.img-responsive(src='/images/applications/off-grid-tiny-house-container-home-rv-m.jpg', alt='tinyhouse_rv_image')
              .col-md-9.app-box-content
                h4 Off-Grid Tiny House and RV
                p We have environmentally friendly power systems to take you off grid in comfort. Our Daily Sun and an optional generator (run occasionally and efficiently) provide the electricity, but we can also recommend components for energy efficient DC air conditioning and heating, cooking solutions, and LED lighting. Whether you are going tiny, modular, container of just off-grid, we have power systems that can match your needs.
            .row
              .col-md-3.left.app-box-content
                img.img-responsive(src='/images/applications/marine2.jpg', alt='storage_image')
              .col-md-9.app-box-content
                h4 Hybrid Electric Marine Propulsion
                p Electric propulsion of sail and power boats offers the same clean energy advantages as extended range electric cars. Until now there have been few solutions available to the boatbuilder. Elecyr Corporation closes this gap with standard components for assembling hybrid systems for boats ranging      from 10-ton catamarans to 100-ton trawlers and schooners.

    #technology
      section#technology
        .container
          .row
            .col-sm-12.titlebar
              h2 Here's how it works
              h3 We combine world class battery management with safe and efficient batteries.  We hook these together in an intelligent, fault tolerant power network. That's the Digital Microgrid.
              p Our Digital Microgrid operates alone, providing power for a single home, building or emergency response trailer. Or it can be combined with any number of other Digital Microgrids to share power for greater efficiency and resiliency.
              p Click below to learn more...

          .row
            .col-md-12
              ul
                li#feature-1
                  .col-sm-6.col-md-4.feature-box.clearfix
                    .feature-box-icon
                      a#GoToBatteries(href='/cellsbatteries')
                        span
                          i.fa.fa-bolt
                    .feature-box-content
                      h4 <a href='/cellsbatteries'>A Few Critical Loads
                      p Learn more here about why we support many battery chemistries but only recommend LFP batteries for their reliability and longevity.</a>
                li#feature-2
                  .col-sm-6.col-md-4.feature-box.clearfix
                    .feature-box-icon
                      a#GoToMicrogrids(href='/distributedpower')
                        span
                          i.fa.fa-home
                    .feature-box-content
                      h4 <a href='/distributedpower'>Energy Efficient Home
                      p We'll explain how the Digital Microgrid works and show an example of a 380 VDC residential microgrid.</a>
                li#feature-3
                  .col-sm-6.col-md-4.feature-box.clearfix
                    .feature-box-icon
                      a#GoToMicrogrids(href='/solar-calculator')
                        span
                          i.fa.fa-building-o
                    .feature-box-content
                      h4 <a href='/solar-calculator'>Ultimate Off-grid
                      p Take the vital statistics of your own application. Our calculator will configure the system and estimate the cost.</a>

    #power_play.parallax
      .power_play
        h1 Engineered in the U.S.A. and built where you live
        h3 We are all about providing power around the world, wherever it's needed.  We also understand that emerging nations need jobs and technology.  Our business is modeled on the distribution model of Coca Cola and Pepsi. Our Elecyr 'bottlers' are your neighbors. They are building independent assembly plants in your country to assemble our power systems where you live.

    #contact.contact
      .container
        .row
          .col-sm-12.titlebar
            h2 Get in touch!
            h3 So if DC microgrids save energy, are more resilient from outages, work well with renewable solar power, use safer transmission lines, improve profits, and even save the view, why aren’t we changing all our power to DC microgrids? At Elecyr we’re making a power play to make sure that the change happens.  If you’re interested in helping to invent the future, join us.
            p Please use the form below to contact us. You can call us at (855) 955-6800 or email us at info@elecyr.com. We look forward to working with you and will get back to you as soon as possible.
        .row
          .col-sm-12
            form#contact-form.row(name='contactform', method='post')
              #input_name.col-md-6
                input#name.form-control(type='text', name='name', placeholder='Name')
              #input_email.col-md-6
                input#email.form-control(type='text', name='email', placeholder='Email')
              #input_subject.col-md-12
                input#subject.form-control(type='text', name='subject', placeholder='Subject')
              #input_message.col-md-12
                textarea#comments.form-control(name='message', rows='6', placeholder='Your Message ...')
              #form_btn.col-md-12
                .text-center
                  input#submit.btn.btn-theme.btn-lg(type='button', value='Send Message')


