extends layout
block content
    div.container
        a.btn.btn-authorization(href="/nimble/authorization", target="_self") Authorization Nimble
    div.container
        .row.text-center
            .loading-spiner-holder(data-loading='')
                .loading-spiner
                    img(src='../images/preload.gif', alt='')


