!!! 5
html(lang='en')
  head
    meta(charset='utf-8')
    title Elecyr | 380V DC Microgrids
    
    meta(name='google-site-verification', content='Y0nN9Eav9fshMZPj4hHT7ZG9VmsgpOTIsPts8c_7H_I')
    meta(name='description', content='High Voltage Battery Systems and Energy Management for Transportation and Industrial Applications')
    - var k = 'microgrid'
    - k += ', 380 VDC'
    - k += ', energy storage'
    - k += ', zero net energy'
    - k += ', battery management'
    - k += ', soalar'
    - k += ', off-grid'
    - k += ', transactive energy'
    - k += ', energy management'
    - k += ', grid'
    - k += ', grid tied'
    - k += ', IEEE 1547'
    - k += ', UL 1741'
    - k += ', load balancing'
    meta(name='keywords', content=k)
    meta(name='robots', content='index,follow')
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(name='description', content='Elecyr Corporation - power distribution that saves energy and provides independence')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')

    // CSS libs, templates and favicons
    link(rel='stylesheet', href='/stylesheets/bootstrap/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/flexslider.css')
    link(rel='stylesheet', href='/stylesheets/magnific-popup.css')
    link(rel='stylesheet', href='/stylesheets/responsive.css')
    link(rel='shortcut icon', href='/images/icons/favicon.ico')
    link(rel='apple-touch-icon', sizes='114x114', href='/images/icons/apple-touch-icon-114x114.png')
    link(rel='apple-touch-icon', sizes='72x72', href='/images/icons/apple-touch-icon-72x72.png')
    link(rel='apple-touch-icon', href='/images/icons/apple-touch-icon.png')

    // Google Fonts
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,700,700italic,800,800italic', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Lato:400,900italic,900,700italic,400italic,300italic,300,100italic,100', rel='stylesheet', type='text/css')

    block stylesheet


    script
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
         m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
         })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
         ga('create', 'UA-41779365-1', 'elecyr.com');
         ga('send', 'pageview');
